<%- include('partials/header.ejs') %>

<h1>home page!</h1>

<% if (locals.allPosts.length > 0) { %>
    <% allPosts.forEach(post => { %>
        <h2><%= post.title %></h2>
        <p><%=  post.content %></p>
    <% }); %>
</h2>

<% } else { %>
<p>no posts. start writing now!</p>
<% } %>

<%- include('partials/footer.ejs') %>
